In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [2]:
def find_missing_percent(data):
    """
    Returns dataframe containing the total missing values and percentage of total
    missing values of a column.
    """
    miss_df = pd.DataFrame({'ColumnName':[],'TotalMissingVals':[],'PercentMissing':[]})
    for col in data.columns:
        sum_miss_val = data[col].isnull().sum()
        percent_miss_val = round((sum_miss_val/data.shape[0])*100,2)
        miss_df.loc[len(miss_df)] = dict(zip(miss_df.columns,[col,sum_miss_val,percent_miss_val]))
    return miss_df

In [3]:
def calculate_outlier_percentage(series, threshold=1.5): # Function to calculate the percentage of outliers for a given series
    z_scores = np.abs((series - series.median()) / series.std())
    outliers = z_scores > threshold
    return (outliers.sum() / len(series)) * 100

In [4]:
def create_multiple_boxplots(data_frame, columns_for_boxplot, titles=None, num_boxplots_per_row=2):
    # Calcular a quantidade;
    num_boxplots = len(columns_for_boxplot)
    num_rows = (num_boxplots + num_boxplots_per_row - 1) // num_boxplots_per_row

    # Criar os subplots
    fig = make_subplots(rows=num_rows, cols=num_boxplots_per_row, subplot_titles=titles)

    # Loop para ir montando todos os gráficos em boxplot
    for idx, column in enumerate(columns_for_boxplot):
        row_idx = idx // num_boxplots_per_row + 1
        col_idx = idx % num_boxplots_per_row + 1

        data = data_frame[column]
        box = go.Box(y=data, name=column)

        fig.add_trace(box, row=row_idx, col=col_idx)

    # Ajustando a forma
    fig.update_layout(height=300*num_rows, showlegend=False)

    # Plotar os gráficos
    fig.show()

In [5]:
def find_correlated_columns(df, interval):
    """
    Encontra e exibe as correlações entre colunas de um DataFrame.

    Parâmetros:
    - df: DataFrame pandas
    - intervalo de correlação desejado (uma tupla de dois valores)

    Retorna:
    - Lista de tuplas representando pares de colunas correlacionadas.
    """
    correlation_matrix = df.corr(numeric_only=True)
    correlated_columns = []

    # Iterar sobre as combinações de colunas para encontrar correlações
    for i in range(len(correlation_matrix.columns)):
        for j in range(i + 1, len(correlation_matrix.columns)):
            corr = correlation_matrix.iloc[i, j]
            if interval[0] <= abs(corr) <= interval[1]:
                col1 = correlation_matrix.columns[i]
                col2 = correlation_matrix.columns[j]
                correlated_columns.append((col1, col2))
                print(f"Correlação entre {col1} e {col2}: {corr}")

    # Plotar um mapa de calor da matriz de correlação
    plt.figure(figsize=(20, 16))
    sns.heatmap(correlation_matrix, annot=True, cmap='cubehelix_r')
    plt.title('Matriz de Correlação')
    plt.xlabel('Variáveis')
    plt.ylabel('Variáveis')
    plt.show()

    return correlated_columns

In [6]:
def correlacao_com_variavel_alvo(df, target_variable, nivel="forte", top_n=5):
    """
    Imprime as n features com as maiores correlações com uma variável alvo, com base no nível escolhido.

    Parâmetros:
    - df: DataFrame pandas.
    - target_variable: String, nome da variável alvo.
    - nivel: String que define o critério de correlação ("forte", "fraca", etc.).
    - top_n: Número inteiro, quantidade de features a serem impressas.

    Retorna:
    - Nenhum (imprime as correlações).
    """
    correlation_matrix = df.corr(numeric_only=True)

    # Filtra as correlações com base no nível escolhido
    if nivel.lower() == "forte":
        filtered_correlations = correlation_matrix[((correlation_matrix >= 0.7) & (correlation_matrix < 1.0)) | ((correlation_matrix <= -0.7) & (correlation_matrix > -1.0))]
    else:
        raise ValueError("Nível não suportado. Atualmente, apenas 'forte' é suportado.")

    # Filtra as correlações com a variável alvo
    correlations_with_target = filtered_correlations[target_variable].sort_values(ascending=False)

    # Pegar as n maiores correlações
    top_n_correlations = correlations_with_target.head(top_n)

    # Imprimir as n maiores correlações com a variável alvo
    print(f"As {top_n} maiores correlações com '{target_variable}' ({nivel}):")
    for feature, correlation in top_n_correlations.items():
        print(f"{feature}: {correlation}")

In [7]:
df = pd.read_csv('hubs.csv')
df

,hub_id,hub_name,hub_city,hub_state,hub_latitude,hub_longitude
0,2,BLUE SHOPPING,PORTO ALEGRE,RS,-30.047415,-51.213510
1,3,GREEN SHOPPING,PORTO ALEGRE,RS,-30.037415,-51.203520
2,4,RED SHOPPING,PORTO ALEGRE,RS,-30.021948,-51.208380
3,5,FUNK SHOPPING,RIO DE JANEIRO,RJ,-23.000750,-43.318283
4,8,GOLDEN SHOPPING,RIO DE JANEIRO,RJ,-22.921474,-43.234776
5,13,HIP HOP SHOPPING,RIO DE JANEIRO,RJ,-22.885820,-43.279217
6,16,PEOPLE SHOPPING,RIO DE JANEIRO,RJ,-23.017473,-43.479940
7,17,SMALL SHOPPING,S�O PAULO,SP,-23.592005,-46.636505
8,18,STAR SHOPPING,RIO DE JANEIRO,RJ,-22.945496,-43.182182
9,20,PURPLE SHOPPING,RIO DE JANEIRO,RJ,-22.996847,-43.359634
10,21,WOLF SHOPPING,S�O PAULO,SP,-23.550407,-46.697315
11,22,COLOR SHOPPING,RIO DE JANEIRO,RJ,-23.000753,-43.383770
12,25,AVENUE SHOPPING,S�O PAULO,SP,-23.567703,-46.642044
13,26,SQL SHOPPING,S�O PAULO,SP,-23.563019,-46.652622
14,27,SAMPA SHOPPING,S�O PAULO,SP,-23.622995,-46.699203
15,28,RAP SHOPPING,S�O PAULO,SP,-23.595001,-46.685986
16,29,SUBWAY SHOPPING,S�O PAULO,SP,-23.561052,-46.558975
17,31,PAGODE SHOPPING,S�O PAULO,SP,-23.629826,-46.735203
18,33,COFFEE SHOPPING,S�O PAULO,SP,-23.579067,-46.592820
19,35,BEACH SHOPPING,RIO DE JANEIRO,RJ,-22.969880,-43.370810
20,36,BLACK SHOPPING,PORTO ALEGRE,RS,-30.085743,-51.246000
21,37,RIVER SHOPPING,S�O PAULO,SP,-23.507105,-46.718197
22,42,PHP SHOPPING,CURITIBA,PR,-25.438105,-49.266533
23,43,HOTMILK SHOPPING,CURITIBA,PR,-25.441221,-49.277690
24,44,FORTRAN SHOPPING,CURITIBA,PR,-25.435140,-49.316788
25,51,RUBY SHOPPING,RIO DE JANEIRO,RJ,-22.923676,-43.567757
26,55,ELIXIR SHOPPING,S�O PAULO,SP,-23.521776,-46.624153
27,73,HUBLESS SHOPPING,S�O PAULO,SP,-22.947460,-43.183468
28,75,PYTHON SHOPPING,CURITIBA,PR,-25.477074,-49.289660
29,85,REACT SHOPPING,S�O PAULO,SP,-23.513353,-46.618355
30,86,R SHOPPING,S�O PAULO,SP,-23.541502,-46.576620
31,91,GAROA SHOPPING,S�O PAULO,SP,-23.525124,-46.546806

In [8]:
df.shape

(32, 6)

In [10]:
#df['driver_type'].value_counts()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hub_id         32 non-null     int64
 1   hub_name       32 non-null     object
 2   hub_city       32 non-null     object
 3   hub_state      32 non-null     object
 4   hub_latitude   32 non-null     float64
 5   hub_longitude  32 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 1.6+ KB

In [12]:
df.describe()

          hub_id  hub_latitude  hub_longitude
count  32.000000     32.000000      32.000000
mean   34.406250    -24.420738     -46.511460
std    24.903503      2.289951       2.668165
min     2.000000    -30.085743     -51.246000
25%    17.750000    -24.081155     -47.368035
50%    28.500000    -23.555729     -46.630329
75%    43.250000    -23.000752     -43.455897
max    91.000000    -22.885820     -43.182182

In [13]:
df.isnull().sum()

hub_id           0
hub_name         0
hub_city         0
hub_state        0
hub_latitude     0
hub_longitude    0
dtype: int64

In [14]:
df.duplicated().sum()

0

In [15]:
miss_df = find_missing_percent(df)
'''Displays columns with missing values'''
display(miss_df[miss_df['PercentMissing']>0.0])
print("\n")
print(f"Number of columns with missing values:{str(miss_df[miss_df['PercentMissing']>0.0].shape[0])}")

Empty DataFrame
Columns: [ColumnName, TotalMissingVals, PercentMissing]
Index: []

Number of columns with missing values:0

In [16]:
numeric_cols = df.select_dtypes(['float','int']).columns
for feature in numeric_cols:
    qtd_outliers = calculate_outlier_percentage(df[feature]).round(2)
    print(f'A quantidade de outliers em {feature} é: {qtd_outliers} %')

A quantidade de outliers em hub_id é: 15.62 %
A quantidade de outliers em hub_latitude é: 12.5 %
A quantidade de outliers em hub_longitude é: 12.5 %